html {
    font-size: 1rem;
    box-sizing: border-box;
    margin-right: 0px;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font: 1.6rem helvetica;
    background-color: #f0f2f5;
    margin-right: 0;
}
.HomePage {
    display: grid;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4.5rem;
    border: 0.1rem solid black;
    margin-right: 20px;
}
.first-header {
    display: flex;
}
.Search {
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 1rem;
    height: 2.8rem;
    padding: 0 20px;
    margin: 28px 7px;
}
input[type=Search] {
    width: 100%;
    padding: 12px 27px;
    margin: 8px 0;
    align-items: center;
    background-color: #f0f2f5;
    border: none;
    outline: none;
}
input::placeholder {
    font-size: 1rem;
}
.middle-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1%;
    margin-left: 0;
}
.Icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 50px;
}
.third-header {
    display: flex;
    align-items: center;
}
.Plus {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 50px;
    border-radius: 50%;
    height: 2.7rem;
    background-color: #f0f2f5;
}
.Pluss {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 10px;
    font-weight: 500;
    border-radius: 50%;
    height: 3rem;
    margin-right: 20px;
}
.Pluss > div {
    padding-left: 10px;
}
.Pluss > img {
    border-radius: 50%;
    max-width: 40%;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 50px;
}

/* Main Layout */
.Main {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
}
.Rside, .Lside {
    height: 100vh;
    width: 22%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.Profile {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
}
.Profile > img {
    border-radius: 50%;
    width: 50px;
}
.Pro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.2rem 1rem;
}
.Pro > div {
    margin: 10px;
}
.Pros {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0 15px;
    border-bottom: 0.1rem solid rgb(68, 62, 62);
}
.Profiles {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px;
}
.Profiles > img {
    border-radius: 50%;
    width: 40px;
}
.Pross {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 0 15px;
}

/* Contact Section */
.Contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Contacts {
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 1rem;
}
.icons {
    display: flex;
    align-items: center;
    padding: 2px 20px;
}
.chaticon {
    display: flex;
}
.Profilee {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
}
.Profilee  img {
    border-radius: 50%;
    width: 45px;
    object-fit: cover;
    height: 100%;
}

/* Main Area */
.MainArea {
    display: grid;
    width: 60%;
    height: 30rem;
    justify-content: center;
}
.addStory {
    display: flex;
    width: 95%;
    margin: 20px 0;
    color: white;
    font-size: 1.5rem;
    height: 20rem;
    justify-content: flex-start;
    margin-left: 2%;
}
.Story {
    width: 170px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    border-radius: 0.5rem;
    background-color: black;
}
.message {
    display: grid;
    height: 25rem;
    width: 120%;
    margin-left:2%;
}
.Post {
    margin-top: 5%;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    background-color: white;
    margin-left: 0;
}
.Post > div {
    margin-left: 2px;
}
.Post > img {
    height: 45px;
    border-radius: 50%;
    width: 45px;
    margin: 15px;
    padding-top: 9px;
}
input[type="Mind"] {
    width: 50%;
    margin: 15px 0;
    height: 4rem;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-left: 0;
    box-sizing: border-box;
}
.Call {
    display: flex;
    align-items: center;
    margin-left: 0;
    height: 5rem;
    width: 80%;
    background-color: white;
}

.ico {
    display: flex;
    align-items: center;
    margin-left: 5%;
}
.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    font-size: 1rem;
}
.Posted {
    display: grid;
    height: auto;
    width: 80%;
    align-items: flex-start;
    background-color: white;
    margin-left: 0;
    margin-top: 29px;
}
.poster {
    display: flex;
    justify-content: space-between;
}
.Simplilearn {
    display: flex;
    justify-content: space-between;
    margin: 25px;
    font-size: 1.5rem;
    font-weight: 500;
}
.update {
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 20px;
}
.edit {
    margin: 12px;
}
.caption {
    font-size: 1.3rem;
    font-weight: 500;
    word-wrap: break-word;
    padding-left: 4%;
}
.Comment {
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    flex-wrap: wrap;
}
.Like {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 1.5rem;
}
